@font-face {
   font-family: 'Comfortaa-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Danny%20Alejandro/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-11-09_092244/fonts/Comfortaa-Regular/font.ttf');
}
